.content__columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 282px;
  flex-wrap: wrap;
  gap: 20px 17px;
}

.content__column {
  margin: 0;
  width: calc((100% - 34px) / 3);
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.content__column-image {
  display: block;
  width: 100%;
}

.content__container-titleicon{
  display: flex;
  margin: 25px 20px;
}

.content__column-image-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content__heart-icon {
  margin-left: auto;
}

.content__heart-icon:hover {
  opacity: .5;
}


@media screen and (max-width: 949px) {
  .content__column {
    margin: 0;
    width: calc((100% - 34px) / 2);
    background-color: #fff;
    border-radius: 0 0 10px 10px;
  }
}
