.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
}

.modal__picture-full {
  display: flex;
  margin: 0;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__piture-paragraph {
  max-width: 291px;
  margin: 0;
  margin-top: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;

  color: #ffffff;
}
