.profile {
  color: #fff;
  width: 100%;
  /* background-color: aqua; */
}

.profile__container {
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__add-button {
  margin-left: auto;
}

.profile__name {
  margin: 0 0 16px;
}
.profile__name::after {
  content: url(../images/Edit\ Button.svg);
  margin-left: 18px;
  width: 24px;
  height: 24px;
}

.profile__role {
  margin: 0;
}

.profile__add-button{
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    font-size: 22px;
}
